@import '../../../styles/variables.scss';

.listDrivers {
    &__item {
        padding: 22px 24px;

        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
    }

    &__item:last-child {
        border-radius: 0 0 8px 8px;
    }
}

.driver {
    display: flex;

    &__item {
        display: flex;
        align-items: center;
        margin-right: 24px;
    }

    &__id {
        width: 50px;
    }

    &__name {
        width: 440px;
    }

    &__regDate {
        width: 300px;
    }

    &__birthDate {
        width: 220px;
    }

    &__status {
        width: 150px;
        height: 24px;
        cursor: pointer;
        padding: 4px 8px;
        border-radius: 8px;

        background: $driver-active-bcg-color;
        color: $driver-active-text-color;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__status_dropBtn {
        color: #4CAF50;
        font-size: 16px;
        border: none;
    }

    &__status_dropDown {
        position: relative;
        display: inline-block;
    }

    &__status_dropDownContent {
        display: none;
        position: absolute;
        border-radius: 8px;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
    }

    &__status_dropDownContent li {
        color: #333333;
        padding: 8px 16px;
        text-decoration: none;
        display: block;
      }

    &__status_dropDownContent li:hover {
        background-color: #ededed;
    }

    &__status_dropDown:hover &__status_dropDownContent {
        display: block;
      }

    &__action {
        cursor: pointer;
    }
}

.tableHeader {
    &__iconDelete {
      margin: 0 20px 0 20px;
    }
}
