@import '../../styles/variables.scss';

.carTable {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 104px;

    &__title {
        width: 576px;
        padding: 8px 16px;

        font-weight: 700;
        line-height: 1.5;
        color: $active-link-color;

        border-radius: 8px 8px 0 0;
        background-color: $component-bcg-color;
    }

    &__wrapper {
        position: relative;
        border-radius: 0 8px 8px 8px;
        background-color: $component-bcg-color;
    }

    &__wrapperCars {
        display: flex;
        justify-content: space-between;
    }

    &__numberCars {
        padding: 16px 24px;

        border-radius: 0 8px 0 0;
    }

    &__numberCars_color {
        color: $primary-link-color;
    }

    @media screen and (min-width: 1300px) {
        width: 1200px;
    }

    @media screen and (min-width: 1872px) {
        width: 1500px;
    }
}

.info {
    padding-top: 75px;
    padding-bottom: 75px;

    &__text {
        margin-bottom: 25px;

        font-size: 22px;
        font-weight: 500;
        text-align: center;
    }

    &__addBtn {
        display: block;
        margin: 0 auto;
    }
}
