@import '../../styles/variables.scss';

.button {
    width: 96px;
    height: 30px;
    border-radius: 8px;
    color: $active-link-color;
    border: none;
    background-color: $driver-notActive-bcg-color;
}
