@import '../../styles/variables.scss';

.menu {
    position: absolute;
    top: 0;
    left: 0;

    width: 316px;
    height: 100vh;
    max-height: 1080px;

    background-color: $component-bcg-color;

    &__logo {
        display: block;
        margin: 8px 72px 24px;
    }

    &__list {
        padding: 0 32px;
    }

    &__item {
        font-size: 16px;
        line-height: 1.5;
    }

    &__item:not(:last-child) {
        margin-bottom: 16px;
    }

    &__itemContent {
        display: flex;
    }

    &__icon {
        margin-right: 8px;
    }

    &__footer {
        position: absolute;
        left: 0;
        bottom: 0;

        padding-bottom: 40px;
    }

    &__footer::before {
        content: '';
        display: block;
        margin-bottom: 16px;
        width: 316px;
        height: 2px;

        background-color: #eeeeee;
    }

    &__rights,
    &__info {
        font-size: 12px;
        line-height: 1.33;

        margin-bottom: 16px;
        padding: 0 35px;
    }

    &__rights {
        color: $primary-link-color;
    }

    &__info {
        color: $text-main-color;
    }

    &__info_underline {
        text-decoration: underline;
        cursor: pointer;
    }
}
