@import '../../styles/variables.scss';

.headerMenu {
    display: flex;
    align-items: center;

    &__menu {
        margin-right: 24px;
        transition: box-shadow $transition-duration $timing-function,
            border-radius $transition-duration $timing-function;
    }

    &__menu:hover {
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        border-radius: 5px;
        cursor: pointer;
    }
}
