@import './variables.scss';

@font-face {
    font-family: 'Gilroy-Regular';
    font-size: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../utils/fonts/gilroy-regular.eot'); /* IE 9 Compatibility Mode */
    src: url('../utils/fonts/gilroy-regular.eot?#iefix')
            format('embedded-opentype'),
        /* IE < 9 */ url('../utils/fonts/gilroy-regular.woff2') format('woff2'),
        /* Super Modern Browsers */ url('../utils/fonts/gilroy-regular.woff')
            format('woff'),
        /* Firefox >= 3.6, any other modern browser */
            url('../utils/fonts/gilroy-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
            url('../utils/fonts/gilroy-regular.svg#gilroy-regular')
            format('svg'); /* Chrome < 4, Legacy iOS */
}

body {
    font-family: 'Gilroy-Regular', sans-serif;
    color: $text-main-color;

    background-color: $page-bcg-color;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

p {
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

button {
    width:96px;
    height:30px;
    border-radius: 8px;
    border: none;
    background-color: $driver-notActive-bcg-color;
}
