// Colors
$text-main-color: #292d45;
$primary-link-color: #6b6f82;
$active-link-color: #737df9;
$page-bcg-color: #e5e5e5;
$component-bcg-color: #fcfcff;
$driver-active-bcg-color: #ebf9eb;
$driver-active-text-color: #26c124;
$driver-locked-bcg-color: #fdebeb;
$driver-locked-text-color: #f00404;
$driver-notActive-bcg-color: #ecf5ff;
$driver-notActive-text-color: #127efa;
