.tableHeader {
    display: flex;
    align-items: center;

    padding: 8px 24px;

    &__item {
        display: flex;
        align-items: center;
        margin-right: 24px;
    }

    &__id,
    &__actions {
        width: 70px;
    }

    &__name {
        width: 300px;
    }

    &__mark,
    &__model,
    &__number,
    &__status {
        width: 150px;
    }

    &__year {
        width: 220px;
    }

    &__icon {
        margin-left: 8px;
        cursor: pointer;
    }
}
