.tableHeader {
    display: flex;
    align-items: center;

    padding: 8px 24px;

    &__item {
        display: flex;
        align-items: center;
        margin-right: 24px;
    }

    &__id {
        width: 50px;
    }

    &__name {
        width: 440px;
    }

    &__regDate {
        width: 300px;
    }

    &__birthDate {
        width: 220px;
    }

    &__status {
        width: 150px;

        @media screen and (min-width: 1300px) {
            width: 200px;
        }

        @media screen and (min-width: 1872px) {
            width: 150px;
        }
    }

    &__icon {
        margin-left: 8px;
        cursor: pointer;
    }

    & button {
        width: 25px;
        height: 25px;
        margin: 0;
        padding: 0;
        border-radius: 0;
        background: none;
    }
}
