.tableHeader {
    display: flex;
    align-items: center;

    padding: 8px 24px;

    &__item {
        display: flex;
        align-items: center;
        margin-right: 24px;
    }

    &__id {
        width: 50px;
    }

    &__name {
        width: 440px;
    }

    &__regDate {
        width: 300px;
    }

    &__birthDate {
        width: 220px;
    }

    &__status {
        width: 150px;
    }

    &__icon {
        cursor: pointer;
    }
}
