@import '../../styles/variables.scss';

.header {
    background-color: $component-bcg-color;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
    }
}

.headerMenu {
    display: flex;
    align-items: center;

    &__icon {
        margin-right: 24px;
        transition: box-shadow $transition-duration $timing-function,
            border-radius $transition-duration $timing-function;
    }

    &__icon:hover {
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        border-radius: 5px;
        cursor: pointer;
    }
}
