@import '../../assets/styles/variables.scss';

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;

    background-color: transparent;
}

.dropdownContent {
    position: absolute;
    top: 28px;
    z-index: 4;

    display: block;
    min-width: 150px;

    background-color: $dropdownContent-active-color;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    overflow: auto;

    &__li {
        display: block;
        padding: 12px 16px;

        text-decoration: none;
        color: black;

        &:hover {
            cursor: pointer;
        }
    }
}
